@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JokesHub!</h1>
    <p>Welcome to your foremost authority to funny content on your local host.</p>
</div>
